.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 로딩 화면 스타일 */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 전체를 채움 */
  background-color: #f8f9fa; /* 로딩 화면 배경 색상 */
}

.loading-gif {
  width: 100px; /* 로딩 GIF 크기 */
  height: auto;
}